// This file may be used for providing additional customizations to the Trestle
// admin. It will be automatically included within all admin pages.
//
// For organizational purposes, you may wish to define your customizations
// within individual partials and `import` them here, e.g.
//
//    @import "trestle/custom/my_custom_css";
//
.app-wrapper {
  .changeset {
    .changeset-change {
      display:flex;
      border-bottom:1px solid #CCC;
      padding:5px;
      .changeset-change-key {
        flex:0 0 30%;
      }
      .changeset-change-changes {
        flex:0 0 70%;
        display:flex;

        .from {
          flex:0 0 35%;
          text-align:right;
          white-space:nowrap;
        }
        .sep {
          text-align:center;
          flex: 0 0 15%;
          white-space:nowrap;
        }
        .to {
          flex:0 0 35%;
          white-space:nowrap;
        }
      }
    }
  }
  .app-main {
    padding-top:60px;
  }
  .app-header {
    z-index: 1000;
    padding-left: 0;
    padding-right: 0;
    background: white;
    min-height: 50px;
    position: fixed;
    background-color: #FFF;
    width: calc(100% - 250px);
    box-shadow:0 10px 10px rgba(#000,0.2);
    display:flex;
    .searchbox {
      flex: 0 0 85%;
      max-width:85%;
      padding:0;
      float:initial;
      .input-group-addon {
        padding-left:10px;
      }
      .fa.fa-search {
        font-size:20px;
      }
      .form-control {
        padding-left: 0;
        background: none;
        box-shadow: none;
        border: none;
        height: 50px;
        border-radius: 0;
        border-bottom: 0;
        transition: border-color 500ms;
        font-size:18px;
      }
    }
    .nav {
      flex: 0 0 15%;
      max-width:15%;
      margin:0 0 0 auto;
      .user-dropdown {
        width:100%;
        display:block;
        padding: 15px 15px;
        padding-left:48px;
        .caret {
          position:absolute;
          right:5px;
          top:50%;
          transform:translateY(-50%);
        }
      }
      .user-icon {
        position:absolute;
        display:block;
        width:32px;
        height:32px;
        left: 7px;
        top:50%;
        border-radius:30px;
        transform:translateY(-50%);
        
        img {
          max-width:100%;
        }
      }
    }
  }
  .scopes {
    flex-wrap: wrap;
  }
  .main-content {
    position:relative;
  }
  .tab-pane {
    .btn-toolbar {
      margin-bottom:10px;
      .btn-group {
        &.actions {
          float:right;
        }
      }
    }
    .trestle-table > thead > tr > th {
      border-bottom:0;
    }
    .trestle-table {
      thead {
        position: relative;
        margin-top: 20px;
        background-color: #f6f8fa;
        border: 1px solid #e1e4e8;
        border-radius: 3px 3px 0 0;
      }
    }
  }
  .edit_vehicle_config,.new_vehicle_config {
    
    
    .col-class-year-end {
      * {
        display:none;
      }
      a {
        display:block;
        font-weight:normal;
      }
    }
    .col-class-year-range {
      .col-class-year-start {
        width:100%;
        // width:75%;
      }
      .col-class-year-end {
        width: 100%;
        position: absolute;
        top: 0;
        right: 0;
        text-align: right;
      }
      &.open,&.focus {
        .select2-container--bootstrap .select2-selection {
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(141, 156, 191, 0.6);
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          border-color: #8d9cbf;
        }
      }
      &.has-year-end {
        .col-class-year-end {
          padding-left:0;
        }
        .col-class-year-start {
          padding-right:0;
        }
        .col-class-year-start,.col-class-year-end {
          width:50%;
        }
        .col-class-year-start {
          .select2-container--bootstrap .select2-selection {
            border-right:0;
            border-top-right-radius:0;
            border-bottom-right-radius:0;
          }
        }
        .col-class-year-end {
          * {
            display:block;
          }
          .select2-container--bootstrap .select2-selection {
            border-left:0;
            border-top-left-radius:0;
            border-bottom-left-radius:0;
          }
          label {
            display:block;
            opacity:0;
          }
          a {
            display:none;
          }
        }
      }
    }
  }
  h1.path-heading {
    position: relative;
    // float: left;
    flex: 0 0 50%;
    max-width: 635px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 26px;
    color: #586069;
    font-weight:normal;

    .opc-icon {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 5px;
      color: #959da5;
    }
    span {
      a {
        font-weight:normal;
      }
    }
    span.active {
      a {
        font-weight:bold;
      }
    }
  }
  .breadcrumb {
    position: relative;
    float: left;
    max-width: 635px;
    padding-left: 18px;
    font-size: 18px;
    line-height: 26px;
    color: #586069;
    > li {
      &:first-child {
        display:none;
      }
      &:nth-child(2) {
        &:before {
          display:none;
        }
      }
    }
  }
  .btn-default:active, .btn-default.active, .open > .btn-default.dropdown-toggle { color:initial; }
  .btn-default:active:hover, .btn-default:active:focus, .btn-default:active.focus, .btn-default.active:hover, .btn-default.active:focus, .btn-default.active.focus, .open > .btn-default.dropdown-toggle:hover, .open > .btn-default.dropdown-toggle:focus, .open > .btn-default.dropdown-toggle.focus { color:inherit; }
  .btn-default:focus, .btn-default.focus {
    color: inherit;
  }
  .btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  }
  .btn {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .btn {
    color: #24292e;
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  }

  .btn-primary {
    color: #fff;
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  }

  .btn:hover {
    text-decoration: none;
    background-repeat: repeat-x;
  }

  .btn:hover, .btn.hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,0.35);
  }

  .btn-primary:hover, .btn-primary.hover {
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,0.5);
  }
  .btn:disabled, .btn.disabled {
    color: rgba(36,41,46,0.4);
    background-color: #eff3f6;
    background-image: none;
    border-color: rgba(27,31,35,0.2);
    box-shadow: none;
  }
  .btn-danger {  
    color: #cb2431;
    background-color: #fafbfc;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
  }
  .btn:disabled, .btn.disabled {
    cursor: default;
    background-position: 0 0;
  }
  .btn:hover, .btn.hover {
    color:inherit;
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,0.35);
  }
  .btn:hover {
    text-decoration: none;
    background-repeat: repeat-x;
  }
  .btn-danger:hover {
    color: #fff;
    background-color: #cb2431;
    background-image: linear-gradient(-180deg, #de4450 0%, #cb2431 90%);
    border-color: rgba(27,31,35,0.5);
  }
  .btn:active, .btn.selected, [open]>.btn {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
  }
  .btn-danger:active, .btn-danger.selected, [open]>.btn-danger {
    color: #fff;
    background-color: #b5202c;
    background-image: none;
    border-color: rgba(27,31,35,0.5);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
  }
  .btn:active, .btn.selected, [open]>.btn {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
  }
  .content-header {
    flex-direction: row-reverse;
    padding-top: 15px;
    padding-bottom: 3px;
    .primary-toolbar, .secondary-toolbar {
      .btn {
        font-size: 14px;
        padding: 6px 12px;
        i {
            font-size: 16px;
        }
      }
    }

    .secondary-toolbar {
      
    }
  }
  .list-content-wrap {
    &.show-scopes {
      display:flex;
      flex-direction: row-reverse;
      .list-content-scopes {
        flex: 0 0 20%;
      }
      .list-content-table {
        flex: 0 0 80%;
      }
    }
    .scopes-list {
      list-style-type:none;
      margin:0;
      padding:0;
      background-color:#f3f3f3;
      li {
        a {
          text-decoration:none;
          display:block;
          width:100%;
          position:relative;
          color:#4d6bb2;
          cursor: pointer;
          padding:5px 15px;
          background-color:#FFF;
          border-bottom:1px solid rgba(#000,0.1);
          span.label {
            display: block;
            width: 100%;
            text-align: left;
            color:inherit;
            font-size: 14px;
            font-weight: normal;
          }
          span.badge {
            position:absolute;
            right:15px;
            top:50%;
            background-color:#AAA;
            transform:translateY(-50%);
          }
          &:hover {
            background-color:rgba(#000,0.02);
          }
        }

        &.active {
          a {
            background-color:rgba(#000,0.02);
            span.label {
              color:#555;
            }
          }
        }
      }
    }
    .list-content-scopes {
      flex: 0 0 0%;
    }
    .list-content-table {
      flex: 0 0 100%;
    }
    
    .trestle-table {
      tbody {
        // tr.vehicle-config {
        //   td {
        //     a {
        //     }
        //   }
        // }
        // tr.vehicle-config.factory {
        //   td {
        //     background-color:#EEE;
        //     color:#212121;
        //     font-weight:bold;

        //     a {
        //       color: #000;
        //       font-weight:bold;
        //     }
        //   }
        // }
      }
    }
  }
  .app-sidebar-header {
    height: 50px;
    background-image: url(/assets/logo@2x.png);
    background-size: 288px;
    background-color: #121212;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
    color:#121212;
  }
  .repo-link {
    display: block;
    text-align: left;
    line-height: 19px;
    font-size: 14px;
    font-weight: bold!important;
  }
  .main-content-area {
    margin:0;
  }
  .app-footer {
    display:none;
  }
  .fork-links {
    display:block;
    width:100%;
    margin-bottom:10px;
    
    .btn {
      text-align:left;
    }

    .btn-default {
      color:#555;
      position:relative;
      padding-right:30px;
      span.fa {
        position:absolute;
        right:10px;
        top:50%;
        transform:translateY(-50%);

        &.fa-check {
          top: 0;
          right: 0;
          padding: 0;
          display: block;
          height: 20px;
          width: 20px;
          line-height: 20px;
          background-color: #7ccde5;
          color: #FFF;
          transform: initial;
          text-align: center;
          border-bottom-left-radius: 6px;
        }
      }
    }
  }
  .app-sidebar-header .navbar-brand {
    color:#212121;
  }
  .forks-list {
    list-style-type:none;
    margin:0;
    padding:0;
  }
  .navbar-brand {
    color:#212121;
    font-size:0;
    opacity:0;
    > span {
      display:block;
      width:100%;
      text-align:center;
      span {
        font-weight:100;
      }
    }
  }
  @media (max-width: 1199px) and (min-width: 768px) {
    .app-sidebar-header {
      background-image:none;
    }
    .app-header {
      width: calc(100% - 54px);
      .searchbox {
        flex: 0 0 75%;
        max-width:75%;
      }
      .nav {
        flex: 0 0 25%;
        max-width:25%;
        margin:0 0 0 auto;
      }
    }
    
  }
  @media (max-width: 767px) {
    .app-header {
      position:relative;
      display:none;
    }
    .app-main {
      padding:0;
    }
    .app-sidebar-header .navbar-brand {
        justify-content: center;
        margin-right: 65px;
        padding: 10px 5px;
    }
}
}