// This file may be used to override the Sass variables used within the Trestle
// admin. It will be automatically included within all admin pages.
//
// Both Bootstrap defaults as well as Trestle can be set here.
// For a detailed overview of the Trestle defaults, see the file
// `app/assets/stylesheets/core/_defaults.scss` within the Trestle source.

// Customize the overall Trestle theme color:
//
//   $brand-primary: #337ab7;

$green: #28a745;
$blue: #007bff;
$light-blue: #7ccde5;
$red: #dc3545;
$light-red: #e17572;
$yellow: #ffc107;
$teal: #17a2b8;

$not-applicable-bg: #EEE;
$excluded-bg: #EEE;
$excluded-fg: #CCC;

$factory-included-bg: lighten(#000,5);
$factory-included-fg: #FFF;

$easy-included-bg: lighten($blue,15);
$easy-included-fg: #FFF;

$intermediate-included-bg: darken($yellow,3);
$intermediate-included-fg: #FFF;

$advanced-included-bg: darken($red,3);
$advanced-included-fg: #FFF;

:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
}