// This file may be used for providing additional customizations to the Trestle
// admin. It will be automatically included within all admin pages.
//
// For organizational purposes, you may wish to define your customizations
// within individual partials and `import` them here, e.g.
//
//    @import "trestle/custom/my_custom_css";
//
/*
*= require commontator/application
*/
@import "code_highlights";
@import "variables";
@import "app";
@import "app-nav";
@import "app-sidebar";
@import "app-header";
@import "footer";
@import "documentation";
@import "vehicle_lookup_form";
@import "vehicle_configs";
@import "guides";
@import "commenting";
@import "videos";
@import "buttons";
@import "tags";
@import "row-card";
@import "hardware";
@import "discussions";
@import "../medium-editor";
@import "../themes/default";
@import "profile-header";
@import "profile-tabs";

.edit_vehicle_config {
  .title-section.first, .path-divider.first {
    display:none;
  }
}

.alert-loading-trims {
  span.fa {
    font-size:35px;
    margin-right:15px;
  }

  span.loading-message {
    font-size:18px;
  }
}
.profile-image {
  border:1px solid #CCC;
}

.dropdown-menu .divider {
  height: 1px;
  max-height: 1px;
  margin: 9px 0;
  padding: 0!important;
  overflow: hidden;
  background-color: #e5e5e5;
}


.main-content-area {
  
}

.app-wrapper {
  
  .trestle-table {
    .label {
      display: initial;
      text-align: left;
      line-height: 19px;
      font-size: 14px;
      font-weight: bold !important;
    }
  }
  .app-main {
    padding-top:60px;
  }
  
  .scopes {
    flex-wrap: wrap;
  }
  .main-content {
    position:relative;
  }
  
  
  .unauthorized-alert {
    .fa-exclamation {
      font-size:30px;
      padding:30px;
    }
    > a {
      margin-right:25px;
      display:block!important;
    }
  }
  .app-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
  
  .repo-link {
    display: block;
    text-align: left;
    line-height: 19px;
    font-size: 14px;
    font-weight: bold!important;
  }

  .main-content-area {
    margin:0;
  }
  .table-container {
    overflow-x: visible;
  }
  
}

@media (max-width: 1199px) and (min-width: 768px) {
  //MEDIUM
  @import "./responsive/md/app";
  @import "./responsive/md/form-page";
}
@media (max-width: 767px) {
  //SMALL
  @import "./responsive/sm/app";
  @import "./responsive/sm/form-page";
  @import "./responsive/sm/list-page";
  @import "./responsive/sm/row-card";
  @import "./responsive/sm/vehicle_configs";
}