@import "variables";
body.controller-admin-vehicle-configs {
  .edit_vehicle_config {
    .app-wrapper {
      &.is-visitor, &.is_editor, &.is_admin {
        .nav-tabs {
          > li {
            &:last-child {
              display:none;
            }
          }
        }
      }
      &.is-super-admin {
        .nav-tabs {
          > li {
            &:last-child {
              display:block;
            }
          }
        }
      }
    } 
  }
  &.action-index {
    .content-header {
      display:none;
    }
    .app-wrapper .main-content {
      padding:0;
    }
    .trestle-table {
      th {
        padding:0;
        display:none;
      }
    }
  }
  
  .app-wrapper {
    .trestle-table {
      // th {
      //   padding:0;
      //   display:none;
      // }
      .vehicle-config {
        height: 70px;
      }
      .votes-column {
        width: 73px;
        padding: 0;
        position: relative;
      }
      .vote-action {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);
        span.badge {
          font-size: 14px;
          padding: 0;
          cursor: default;
        }
        a {
          text-decoration: none;
          padding-top: 7px;
          font-size: 14px;
          padding-bottom: 7px;
          &:hover {
            background-color: rgba(0, 0, 0, 0.02);
          }
        }
      }
      .image-column {
        width: 100px;
        min-width: 100px;
        text-align: center;
        padding: 0;
        img { 
          height:65px;
          border-radius:4px; 
          border: 1px solid;
          border-color:rgba(0,0,0,0.1); 
        }
      }
      .vehicle-byline {
        font-size:12px;
        color:#888;
      }
      ul.meta {
        list-style-type:none;
        li {
          float:left;
          .label {
            font-size: 12px;
            font-weight: 500!important;
            line-height: 16px;
            display: inline;
            margin-right: 3px;
            text-overflow: ellipsis;
            vertical-align: baseline;
            white-space: nowrap;
            color: white;
            border-radius: 2px;
            overflow: hidden;
            font-weight: 500!important;
            padding: 1px 5px;
          }
        }
      }
    }
  }
  
}
.vote-action {
  a,span {
    display:block;
    width:100%;
    color: #888;
  }
  a {
    text-decoration:none;
  }

  span.badge {
    background-color:transparent;
    color:#000;
  }

  &.upvoted {
    .fa.fa-arrow-up {
      color: $green;
    }
    span.badge {
      color: $green;
    }
  }

  &.downvoted {
    .fa.fa-arrow-down {
      color: $red;
    }
    span.badge {
      color: $red;
    }
  }
}
@media (max-width: 767px) {
  body.controller-admin-vehicle-configs {
    .app-wrapper .trestle-table .image-column {
      display:none;
      width:initial;
      max-width:initial;
    }
        
  }
}