@import "variables";
.nav-tabs {
  span.fa {
    font-size: 16px;
    // position: absolute;
    // left: 11px;
    // top: 50%;
    // transform: translateY(-50%);
    height:16px;
    width:16px;
    // display:block;
    color:rgba(#000,0.1);
  }
}
.main-content-area .nav-tabs > li.active > a {
  span.fa {
    color:rgba(#000,0.5);
  }
}
body.controller-admin-vehicle-configs.action-show {
  #tab-capabilities {
    .table-filter {
      display:flex;
      .btn {
        margin-bottom:11px;
      }
    }
    // th.type-easy {
    //   background-color:$blue;
    //   color:#FFF;
    // }
    // th.type-intermediate {
    //   background-color:darken($yellow,5);
    //   color:#FFF;
    // }
    // th.type-advanced {
    //   background-color:$red;
    //   color:#FFF;
    // }
  }
}
body.controller-admin-vehicle-configs,body.controller-admin-user-vehicles {
  &.action-show {
    #tab-guides {
      .trestle-table > thead > tr > td, .trestle-table > thead > tr > td, .trestle-table > tbody > tr > td, .trestle-table > tbody > tr > td, .trestle-table > tfoot > tr > td, .trestle-table > tfoot > tr > td {
        padding:0;border:0;
        padding-bottom:10px;
      }
      &.tab-pane {
        .trestle-table thead {
          display:none;
        }
      }
    }
    .vehicle-capability-control {
      position:absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      display:flex;
      flex-direction: column;
      a {
        display:block;
        width:100%;
        &:first-child {
          flex-grow: 5;
        }
        
      }
      a.configure-link {
        font-size:10px;
        flex-grow:1;
      }
    }
    #tab-capabilities {
      tr {
        td.icon {
          width: 47px;
          padding: 3px 5px;
          text-align: center;
          .icon-wrap {
            padding:5px;
            display:block;
            border:1px solid rgba(#000,0.1);
            border-radius:6px;
            height:40px;
            width:40px;
            background-image: linear-gradient(-180deg, lighten(#212121,4) 0%, darken(#000,4) 90%);
          }
          img {
            // border:1px;
            width:100%;
            height:100%;
          }
        }

        .type-factory, .type-easy, .type-intermediate, .type-advanced {
          text-align:center;
          width:14%;
          min-width:14%;
          .type-label {
            font-size:10px;
          }
          .label-text, .type-label {
            display:block;
            line-height: 1em;
          }
          .label-text {
            line-height:1.4em;
            font-size:14px;
          }
          .btn-configure {
            padding:0;
            line-height: 1.4em;
          }
          .btn-add {
            opacity:0;
          }
          .btn-success,.btn-danger {
            opacity:1;
          }

          .btn.hovered {
            .label-text {
              line-height: 1.2em;
              font-size: 10px;
            }
            .type-label {
              font-size:7px;
            }
          }
        }
        .type-factory, .type-easy, .type-intermediate, .type-advanced {
          position:relative;
          &:after {
            content:"";
            background-color:rgba(#000,0.1);
            height:100%;
            width:1px;
            position:absolute;
            right:0;
            top:0;
          }
          .btn {
            border-radius:0;
            border:0;
            &.hovered {
              font-size: 12px;
            }
            .fa {
              font-size: 19px;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%,-50%);
              opacity: 0.7;
            }
          }
          .btn-success {
            background:lighten(#EEE,4);
            color: #FFF;
            opacity:1;
          }
          .btn-danger {
            background:lighten(#555,4);
            color: #FFF;
            opacity:1;
          }
        }
        .type-factory {
          .btn-success {
            background:$factory-included-bg;
            color: $factory-included-fg;
            opacity:1;
          }
          .btn-danger {
            background:$excluded-bg;
            color: $excluded-fg;
            opacity:1;
          }
        }
        .type-easy {
          .btn-success {
            background:$easy-included-bg;
            color: $easy-included-fg;
            opacity:1;
          }
          .btn-danger {
            background:$excluded-bg;
            color: $excluded-fg;
            opacity:1;
          }
        }
        .type-intermediate {
          .btn-success {
            background:$intermediate-included-bg;
            color: $intermediate-included-fg;
            opacity:1;
          }
          .btn-danger {
            background:$excluded-bg;
            color: $excluded-fg;
            opacity:1;
          }
        }
        .type-advanced {
          .btn-success {
            background: $advanced-included-bg;
            color: $advanced-included-fg;
            opacity:1;
          }
          .btn-danger {
            background:$excluded-bg;
            color: $excluded-fg;
            opacity:1;
          }
        }
        &:hover {
          td {
            background-color:rgba(#000,0.05);
          }
          .type-factory, .type-easy, .type-intermediate, .type-advanced {
            
            .btn {
              opacity:1;
            }
            .btn-success {
              opacity:1;
            }
          }
        
          .btn-success {
            opacity:1;
            
          }
        }
      }
    
      thead {
        tr {
          .type-factory, .type-easy, .type-intermediate, .type-advanced {
            opacity:1;
          }
        
          .btn-success {
            opacity:1;
          }
        }
      }
    }
  }
  .edit_vehicle_config {
    .app-wrapper {
      &.is-visitor, &.is_editor, &.is_admin {
        .nav-tabs {
          > li {
            &:last-child {
              display:none;
            }
          }
        }
      }
      &.is-super-admin {
        .nav-tabs {
          > li {
            &:last-child {
              display:block;
            }
          }
        }
      }
    } 
  }
  &.action-index {
    .app-nav {
      .btn-lg {
        font-size: 12px;
        line-height: 1.5em;
        background-color: #000;
        background-image: linear-gradient(-180deg, #212121 0%, #0e0e0e 90%);
        color: rgba(255,255,255,0.9);
        margin: 12px auto;
        width: 90%;
        display: block;
        border: 1px solid rgba(255,255,255,0.05);
      }
    }
    .app-wrapper .app-main {
      padding-top: 50px;
    }
    .app-wrapper h1.path-heading {
      display:none;
    }
    .content-header {
      display:none;
      padding: 0;
    }
    .app-wrapper .main-content {
      padding:0;
    }
    .trestle-table {
      .owners-column {
        cursor:default;
        a.btn {
          opacity: 1;
          padding: 0 6px 0 4px;
          font-size: 12px;
          width: 70px;
        }
        a.btn.user-not-owns {
          cursor:pointer;
          background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
        }
        a.btn.user-owns {
          background-image: linear-gradient(-180deg, lighten(#333,4) 0%, darken(#333,8) 90%);
          color: #FFF;
          
        }
        span.message {
          display:block;
        }
        > span {
          // display:block;
          // text-align:center;
          font-size:12px;
          &.key {
            font-size:12px;
            color:#555;
          }
          &.value {
          }
        }
      }
      th {
        padding:0;
        display:none;
      }
    }
  }
  
  .app-wrapper {
    .trestle-table {
      // th {
      //   padding:0;
      //   display:none;
      // }
      .vehicle-config {
        height: 70px;
      }
      .votes-column {
        width: 73px;
        padding: 0;
        position: relative;
      }
      
      .image-column {
        // width: 100px;
        // min-width: 100px;
        // text-align: center;
        // padding: 0;
        img { 
          height:65px;
          border-radius:4px; 
          border: 1px solid;
          border-color:rgba(0,0,0,0.1); 
        }
      }
      .vehicle-byline {
        font-size:12px;
        color:#888;
      }
      ul.meta {
        list-style-type:none;
        li {
          float:left;
          .label {
            font-size: 12px;
            font-weight: 500!important;
            line-height: 16px;
            display: inline;
            margin-right: 3px;
            text-overflow: ellipsis;
            vertical-align: baseline;
            white-space: nowrap;
            color: white;
            border-radius: 2px;
            overflow: hidden;
            font-weight: 500!important;
            padding: 1px 5px;
          }
        }
      }
    }
  }
  
}

@media (max-width: 767px) {
  body.controller-admin-vehicle-configs {
    .app-wrapper .trestle-table .image-column {
      display:none;
      width:initial;
      max-width:initial;
    }
        
  }
}