body.controller-admin-videos.action-show {
  
}
body.controller-admin-videos.action-index {
  // .app-wrapper.is-visitor .primary-toolbar {
  //   opacity:1!important;
  // }
  .trestle-table {
    thead {
      display: none;
    }
  }
  .table > thead > tr > th, .trestle-table > thead > tr > th, .table > thead > tr > td, .trestle-table > thead > tr > td, .table > tbody > tr > th, .trestle-table > tbody > tr > th, .table > tbody > tr > td, .trestle-table > tbody > tr > td, .table > tfoot > tr > th, .trestle-table > tfoot > tr > th, .table > tfoot > tr > td, .trestle-table > tfoot > tr > td {
    // border-top:0;
    padding:0;
  }

  .app-wrapper {
    h1.path-heading {
      font-size:26px;
      font-weight:400;
      padding-left:0;
      span.title-section {
        &.active {
          font-size:26px;
          font-weight:400;
          a {
            color:#000;
            font-weight:400;
          }
      }
      }
      .opc-icon {
        display:none;
      }
    }
  }
}
.video-card.row-card {
  .image {
    height: 84px;
    max-width:inherit;
    flex: 0 0 150px;
    // width: 130px;
    position: relative;
    padding: 4px;
    // margin-left: 10px;
    // margin-top: 21px;
    overflow: hidden;
    span.img {
      width: 100%;
      height: 100%;
      border-radius:0;
    }
  }
}
.video {
  display:flex;

  .action-bar {
    display:flex;
    border-top:1px solid rgba(#000,0.2);

    .author-box {
      flex: 0 0 70%;
      padding:10px;

      .meta {
        margin-bottom:15px;
      }
    }
    .actions {
      flex: 0 0 30%;
      padding:10px;
      display:flex;
      justify-content:flex-end;
    }
  }

  .video-block {
    background-color:#FFF;
    padding:15px;
    border:1px solid rgba(#000,0.1);
    flex: 0 0 60%;

    h1 {
      font-size: 18px;
      border: 0;
      font-weight: 500;
      letter-spacing: -0.04em;
    }
  }
  .video-sidebar {
    flex: 0 0 40%;
    background-color:#FFF;
    padding:15px;
    border:1px solid rgba(#000,0.1);
    h2 {
      margin:0;
    }
    h3 {
      margin: 0;
      font-size: 15px;
      position: relative;
      // top: -7px;
      // left: 0px;
      display:block;
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }
  }
}