.app-sidebar {
  width: 250px;
}

.app-nav .nav-label, .app-nav .nav-badge {
  display: initial;
}

.app-wrapper .app-sidebar-header {
  background-image: url(/assets/logo@2x.png);
}

.app-nav .nav-header a {
  height: initial;
  padding: 5px 20px;
  text-indent: initial;
}
.app-nav .nav-header a::before {
  display:none;
}
.app-nav .collapsed .nav-header a::before {
  display: none;
}
.app-nav .collapsed .nav-header a::after {
  display: none;
}
.app-wrapper {
  .main-content {
    padding: 0 0 0 0;
  }
  .list-content-wrap .main-content {
    padding: 35px 0 0 0;
  }
  .app-header {
    .searchbox {
      flex: 0 0 50%;
      max-width:50%;
    }
    .nav {
      flex: 0 0 50%;
      max-width:50%;
      margin:0 0 0 auto;
    }
  }
}