<% title "Support the Openpilot Community" %>
<div class="col-lg-6 col-md-10 col-sm-10 mx-auto">
  <div class="download-logo mt-5" ><%=image_tag('patreon-logo.png', style: "width:350px!important;margin:0 auto;display:block;")%></div>
  <h3 class="mt-2 mb-4 text-center"><span style="font-weight:200;">Help support the</span>
  <br />Openpilot Community</h3>
  <p class="mt-3 text-center" style="font-size:16px;"><%=@desc%></p>
  <p class="mt-5 text-center">
    <a href="https://patreon.com/openpilotcommunity" target="_blank" class="btn btn-primary btn-block flex-fill" style="background-color:#7289DA; border-color:#7289DA; font-size:20px; border-left:1px solid rgba(0,0,0,0.5);">Become a Patreon</a>
  </p>
</div>