<div class="documentation">
  <div class="guide">
    <h1><%=instance.name%></h1>

    <div class="content markdown-body">
      <%=instance.description%>
    </div>

    <%= render 'admin/comments', instance: instance %>
  </div>
  
</div>