<div class="alert alert-danger unauthorized-alert">
  <span class="fa fa-exclamation"></span>
  You do not have the proper permissions to perform this action.<br />
  Please contact @jfrux on Comma Slack to become an editor.<br />
</div>