<div class="alert alert-danger">
  <strong style="margin-right:20px;font-size:18px;">ATTENTION</strong>
  <p>
    <strong>THESE PAGES ARE IN HEAVY DEVELOPMENT AND SHOULD BE CONSIDERED A WORK-IN-PROGRESS.</strong><br />
    Much of this information is just wrong. As we get it stablized, we will remove this alert.<br />
    Please connect with us on <a href="https://slack.comma.ai/" target="_blank">Comma Slack</a> before making any decisions or doing any modifications.
  </p>
</div>