<% title "Join Comma.ai Discord" %>
<div class="col-lg-6 col-md-10 col-sm-10 mx-auto">
  <div class="download-logo mt-5" ><%=image_tag('https://discordapp.com/assets/e7a3b51fdac2aa5ec71975d257d5c405.png', style: "width:350px!important;margin:0 auto;display:block;")%></div>
  <h3 class="mt-2 mb-4 text-center"><span style="font-weight:200;">You're invited to join the new</span>
  <br />Comma.ai Community Discord</h3>
  <p class="mt-3 text-center" style="font-size:16px;"><%=@desc%></p>
  <p class="mt-5 text-center">
    <a href="https://discord.gg/Wyna3qy" target="_blank" class="btn btn-primary btn-block flex-fill" style="background-color:#7289DA; border-color:#7289DA; font-size:20px; border-left:1px solid rgba(0,0,0,0.5);">Join the <strong>Comma.ai Discord</strong></a>
  </p>
  <p class="mt-5 text-center" style="font-size:16px;">Already accepted the invite?</p>
  <p class="mt-2 mb-5 text-center">
    <a href="https://discordapp.com/channels/@me" target="_blank" class="btn btn-dark btn-block flex-fill" style=" font-size:20px; border-left:1px solid rgba(0,0,0,0.5);">Log In to Discord</strong></a>
  </p>
</div>