html, body {
  // overflow: auto;
  height:initial;
  width:initial;
}
.main-content-area .nav-tabs:after {
  display:none;
}
.nav:before, .scopes:before, .nav:after, .scopes:after {
  
}
.main-content-area {
  position:relative;
  &:before {
    content: " ";
    display: block;
    width: 50px;
    position: absolute;
    top: 0;
    z-index: 10000;
    right: 0;
    height: 41px;
    border: 0;
    background-color: initial;
    background: initial;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+100 */
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 ); /* IE6-9 */
  }
}
.app-wrapper {
  h1.path-heading {
    display: none;
  }
  .main-content-sidebar {
    padding:30px 10px 10px 10px;
  }
  .tab-pane {
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;

    
  }
  
  .content-header {
    position: relative;
    top: initial;
    right: initial;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    padding-top: 0;
    padding-bottom: 3px;
    background: transparent !important;
    flex-direction: column-reverse!important;
    
    h1.path-heading {
      width: 100%;
      flex: 0 0 100%!important;
    }
    .btn-toolbar {
      margin-left:0;
      .flags {
        justify-content: space-between!important;
        width:100%;
        flex: 0 0 100%;

        li {
          padding:0;
          text-align:center;
        }
      }
      &.primary-toolbar,&.secondary-toolbar{
        width:100%;
        max-width:100%;
        flex: 0 0 100%!important;
      }
    }
  }

  .app-container {
    width:100%;
  }
}

.app-wrapper .content-header .btn-toolbar {
  text-align: right;
  flex: 0 0 100%;
}

.app-wrapper .app-container,.app-container {
  overflow-y: initial!important;
  overflow-x: initial;
}

.navbar-nav > li {
  float: left;
  width: 100%;
}



.app-wrapper {
  .app-header {
    position:relative;
    display:none;
  }
  .external-actions {
    display:block;
  }
  h1.path-heading {
    flex: 0 0 60%;
    font-size: 19px;
    line-height: 1.8em;
    height: 100%;
    text-overflow: ellipsis;
    margin-bottom: 0;
    white-space:nowrap;
    overflow:hidden;
    display:block;
    &.has-multiple {
      .first {
        display:none;
      }
    }

    // .first {
    //   display:none;
    // }
    .opc-icon {    
      margin-top: 10px;
    }
  }
  .content-header {
    margin-bottom:10px;
  }
  .content-header .btn-toolbar {
      text-align: right;
      flex: 0 0 40%;
  }
  // .main-content-container {
  //   overflow-x: auto;
  // }
  .app-main {
    padding:0;
    padding-top: 0!important;
  }
  .app-sidebar-header .navbar-brand {
      justify-content: center;
      margin-right: 65px;
      padding: 10px 5px;
  }
}