html, body {
  // overflow: auto;
  height:initial;
  width:initial;
}
.main-content-area .nav-tabs:after {
  display:none;
}
.nav:before, .scopes:before, .nav:after, .scopes:after {
  
}
.main-content-area {
  position:relative;
 
}
.app-wrapper {
  .main-content, .list-content-wrap .main-content {
    padding: 0 0 0 0;
  }
  h1.path-heading {
    display: none;
  }
  .main-content-sidebar {
    padding:30px 10px 10px 10px;
  }
  .tab-pane {
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
  }
  
  .content-header {
    position: relative;
    top: initial;
    right: initial;
    width: 100%;
    display: flex;
    flex-flow: wrap;
    padding-top: 0;
    padding-bottom: 3px;
    background: transparent !important;
    padding:0;
    .content-header-title {
      flex: 0 0 100%;
      margin: 0;
      padding: 4px 10px;
      background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
      border-bottom: 1px solid rgba(0,0,0,0.08);
      h1 {
        display:none;
      }
      ol {
        padding-left:0;
      }
      .breadcrumb .active, .breadcrumb .active a {
        font-size:15px;
      }
    }
    .content-header-toolbars {
      flex: 0 0 100%;
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      .primary-toolbar,.secondary-toolbar {
        flex: 0 0 100%;
      }
      .btn {
        display:flex!important;
        width:100%;
        padding: 7px 15px 6px 15px;
        border:0;
        background-color:#eff3f6;
        color: #24292e;
        border-left:1px solid rgba(#000,0.08);
        border-bottom:1px solid rgba(#000,0.08);
        border-radius:0;
        background-image: linear-gradient(-180deg, darken(#fafbfc,2) 0%, darken(#eff3f6,2) 90%);
        .fa {
          font-size: 22px;
          text-align:center;
        }
      }
      
    }
    h1.path-heading {
      width: 100%;
      flex: 0 0 100%!important;
    }
    .btn-toolbar {
      margin-left:0;
      .flags {
        justify-content: space-between!important;
        width:100%;
        flex: 0 0 100%;

        li {
          padding:0;
          text-align:center;
        }
      }
      &.primary-toolbar,&.secondary-toolbar{
        width:100%;
        max-width:100%;
        flex: 0 0 100%!important;
      }
    }
  }

  .app-container {
    width:100%;
  }
}

.app-wrapper .content-header .btn-toolbar {
  text-align: right;
  flex: 0 0 100%;
}

.app-wrapper .app-container,.app-container {
  overflow-y: initial!important;
  overflow-x: initial;
}

.navbar-nav > li {
  float: left;
  width: 100%;
}



.app-wrapper {
  .app-header {
    position:relative;
    display:none;
  }
  .external-actions {
    display:block;
  }
  h1.path-heading {
    flex: 0 0 60%;
    font-size: 19px;
    line-height: 1.8em;
    height: 100%;
    text-overflow: ellipsis;
    margin-bottom: 0;
    white-space:nowrap;
    overflow:hidden;
    display:block;
    &.has-multiple {
      .first {
        display:none;
      }
    }

    // .first {
    //   display:none;
    // }
    .opc-icon {    
      margin-top: 10px;
    }
  }
  .content-header {
    // margin-bottom:10px;
    position:sticky;
    top:50px;
    left:0;
  }
  .content-header .btn-toolbar {
      text-align: right;
      flex: 0 0 40%;
  }
  .main-content {
    padding:0;
  }
  // .main-content-container {
  //   overflow-x: auto;
  // }
  .app-main {
    padding:0;
    padding-top: 0!important;
  }
  .app-sidebar-header .navbar-brand {
      justify-content: center;
      margin-right: 65px;
      padding: 10px 5px;
  }
}