<% if vehicle_config.vehicle_config_status.present? && vehicle_config.vehicle_config_status.name != "Researching"%>
<span class="label label-<%=vehicle_config.difficulty_class%>"><%=vehicle_config.vehicle_config_type.name%></span>
<% end %>