<% content_for(:content) do %>
<div class="documentation">
  <div class="alert alert-danger">
  <strong style="margin-right:20px;font-size:18px;">ATTENTION</strong>
  <p>
  These pages are a work-in-progress. Use at your own risk.<br />Please connect with us on <a href="https://slack.comma.ai/" target="_blank">Comma Slack</a> before making any decisions.
  </p>
  </div>
  <%= content_for?(:docs_content) ? yield(:docs_content) : yield %>
</div>
<% end %>

<%= render template: "layouts/trestle/admin" %>