<% content_for :content do %>
  <div class="container-fluid">
    <div class="row">
      <div class="left-bar col-sm-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <div id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">openpilot database</a>
              </li>
            </ul>
          </div>
        </nav>
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
          <li class="nav-item"><a class="nav-link" href="#">Testing</a></li>
        </ul>
      </div>
      <div class="main-content col-sm-10">
        <div class="page-header">
          <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link disabled" href="#">Disabled</a>
                </li>
              </ul>
            </div>
          </nav>
          <%= content_for?(:page_header) ? yield(:page_header) : nil %>
        </div>
        <div class="page-content">
          <%= content_for?(:page_content) ? yield(:page_content) : yield %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>