<div class="hardware-card row-card">
  <div class="card-header">
    <div class="image">
      <% if instance.image.attached? %>
        <span class="img" style="background-image:url(<%=instance.image.service_url%>)"></span>
      <% else %>
        <span class="img"><span class="fa fa-microchip"></span></span>
      <% end %>
    </div>

    <div class="details">
      <div class="details-inner">
        <div class="name">
        <%=link_to(hardware_items_admin_url(instance.id)) do %>
          <span><%=instance.name%></span>
        <% end %>
        </div>
        <div class="synopsis"><%=instance.description.present? ? strip_tags(instance.description).truncate_words(10) : nil%></div>
        
        <ul class="meta">
        </ul>
      </div>
    </div>
  </div>
</div>